main {
    width: 75%;
    margin: auto;
    
}
h1{
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2rem solid;
    padding: 1rem 0;
}
h2{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #808080;
}

img{
    width: 400px;
    height: 400px;
    margin-right: 15px;
    border-radius: 50%;

}
ul{
background-image: linear-gradient(to bottom, gold 40%, grey 40%, grey 60%, brown 60% );
}

ol{
    background-image: radial-gradient(circle, grey 30%, cyan 30%);
}

p{
       height: 100px;
      overflow: auto;
     line-height: 1.5;
    font-size: 2em;

}

dd{
    color: transparent;
    background-image: conic-gradient(
        violet 10%,
        cyan 10%,
        cyan 20%,
        red 20%,
        red 30%,
        grey 30%,
        grey 50%,
        blue 50%,
        blue 60%,
        tomato 60%,
        tomato 70%,
        green 70%,
        green 80%,
        purple 80%

 );

 -webkit-background-clip: text;
 color: transparent;

}


